{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-10">
        <h3>Transforms</h3>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" href="{{ url_for('transform_creation') }}" role="button">Create New</a>
    </div>
</div>
<br><br>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cluster Pool</th>
            <th>Updated On</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
            <tr>
                <td><a href="/transform_detail?transform_id={{row['transform_id']}}">{{row["transform_id"]}}</a></td>
                <td>{{row["transform_name"]}}</td>
                <td>{{row["pool_id"]}}</td>
                <td>{{row["update_date"]}}</td>
                <td id={{row["transform_id"]}}><a class="run" href="/job_runs?transform_id={{row['transform_id']}}">Run</a> | <a href="#">Edit</a> | <a class="delete" href="{{ url_for('transforms') }}">Delete</a> | <a href="/job_runs?transform_id={{row['transform_id']}}">Jobs</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script type=text/javascript>
  $('.delete').click(function(){
    $.ajax({
      type: 'POST',
      url: "/delete_transform",
      data: {"transform_id": $(this).parent().attr('id')},
      dataType: "text"
    });
  });

  $('.run').click(function(){
    $.ajax({
      type: 'POST',
      url: "/run_transform",
      data: {"transform_id": $(this).parent().attr('id')},
      dataType: "text"
    });
  });
</script>
{% endblock %}